@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 100%);
  background-image: url("../assets/mobilebackground.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1rem 32% 32% 32% 1rem;
  grid-template-rows: 1rem 32% 32% 32% 1rem;
}

#logo {
  grid-column: 2/5;
  grid-row: 3/4;
  height: 100%;
  align-self: center;
  justify-self: center;
}

#nav {
  grid-column: 2/5;
  grid-row: 4/5;
  align-self: center;
  justify-self: center;
  height: 90%;
  width: 70%;
}

#nav a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 7rem;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#nav ul {
  width: 100%;
  height: 100%;
  background-color: hsl(177,100%,45%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#nav li {
  border: solid hsl(0, 0%, 0%) 3px;
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

header {
  grid-column: 1/end;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}


/*For Desktop*/
@media only screen and (min-width: 1025px) {
    body {
        background-image: url("../assets/desktopbackground.png");
        background-size: cover;
    }

    #logo {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    #nav {
      grid-column: 2/5;
      grid-row: 3/4;
      width: 50%;
    }
}
